@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.f-link {
  color: #efefef;
  padding: 1em;
}

.f-link:hover {
  background-color: rgb(38, 42, 46);
}

.footer {
  background-color: rgb(4, 8, 12);
  padding: 1em;
}

footer.footer > p {
  margin-bottom: 0 !important;
}

.logo-footer {
  width: 20vh;
  height: auto;
  margin-bottom: 0.5rem;
}

footer p {
  margin-bottom: 0.25em;
}
