@model Projeto_IHC.Entidades.Filme

@{
    ViewData["Title"] = "Adicionar Filme";
}

@section Styles {
<link rel="stylesheet" href="/css/AdicionarFilme.css" />
}

<nav id="caminhodepao" style="--bs-breadcrumb-divider: '>';padding:0!important;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
        <li class="breadcrumb-item"><a href="/Admin/ListaFilmes">Lista Filmes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Adicionar Filme</li>
    </ol>
</nav>

<h1 class="text-center">Adicionar Filme</h1>

<hr />

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex px-5">
    <div class="flex-grow-1">
        <form asp-action="AdicionarFilme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex flex-row align-items-center">
                <div class="form-group flex-grow-1 m-3">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" type="text" id="Nome" class="form-control" required />
                    <span id="Nome-sp" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary w-25 mx-3" id="nomeBtn">
                    Pesquisar
                </button>
                <div id="ajudaBtn" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Coloque o nome do filme no campo Nome e clique em pesquisar para procurar o filme na web."><i
                        class="fa-solid fa-circle-question fa-xl"></i></div>
            </div>
            <div id="modal">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content" id="table">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-sm-row flex-column">
                <div class="form-group w-100 m-3">
                    <label>URL do Poster</label>
                    <input asp-for="URLPoster" type="url" class="form-control" id="urlp" m-3 />
                    <span class="text-danger" id="urlp-sp"></span>
                </div>
                <div class="form-group w-100 m-3">
                    <label>URL da Capa</label>
                    <input asp-for="URLCapa" type="url" class="form-control" id="urlc" required />
                    <span class="text-danger" id="urlc-sp"></span>
                </div>
            </div>
            <div class="form-group w-auto m-3">
                <label>URL do Trailer</label>
                <input asp-for="URLTrailer" type="url" class="form-control" id="urlt" required />
                <span class="text-danger" id="urlt-sp"></span>
            </div>
            <div class="d-flex flex-sm-row flex-column">
                <div class="form-group w-100 m-3">
                    <label>Diretor</label>
                    <input asp-for="Diretor" type="text" class="form-control" id="dir" required />
                    <span class="text-danger" id="dir-sp"></span>
                </div>
                <div class="form-group w-100 m-3">
                    <label>Ano</label>
                    <input asp-for="Ano" type="number" class="form-control" id="ano" required />
                    <span class="text-danger" id="ano-sp"></span>
                </div>
            </div>
            <div class="form-group w-100 m-3">
                <label>Opções</label>
                <div class="form-check form-check-inline">
                    <input asp-for="emBreve" class="form-check-input" id="emBreve">
                    <label class="form-check-label">Em Breve</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="emCartaz" class="form-check-input" id="emCartaz">
                    <label class="form-check-label">Em Cartaz</label>
                </div>
                <span class="text-danger" id="op-sp"></span>
            </div>
            <div class="d-flex flex-sm-row flex-column">
                <div class="form-group w-100 m-3">
                    <label>Classificação Indicativa</label>
                    <select asp-for="Classificacao" class="form-control" id="clas"
                        placeholder="Selecione uma classificação" required>
                        <option value="">Selecione uma Classificação</option>
                        <option value="Livre">Livre</option>
                        <option value="+10">10 anos</option>
                        <option value="+12">12 anos</option>
                        <option value="+14">14 anos</option>
                        <option value="+16">16 anos</option>
                        <option value="+18">18 anos</option>
                    </select>
                    <span class="text-danger" id="clas-sp"></span>
                </div>

                <div class="form-group w-100 m-3">
                    <label>Duração</label>
                    <input asp-for="Duracao" type="text" class="form-control" id="dur" required />
                    <span class="text-danger" id="dur-sp"></span>
                </div>
            </div>
            <div class="form-group w-auto m-3">
                <label>Resumo</label>
                <textarea asp-for="Resumo" class="form-control" id="res" required></textarea>
                <span class="text-danger" id="res-sp"></span>
            </div>

            <button class="btn btn-primary" id="EnviarBtn">Adicionar</button>
        </form>
    </div>
</div>

@section Scripts {
<script src="~/js/TMDB_API.js"></script>
<script src="~/js/Validacao.js"></script>
}
