@model Projeto_IHC.Models.AdicionarSessaoModel

@{
    ViewData["Title"] = "Editar Sessão";
}

@section Styles {
<link rel="stylesheet" href="~/css/AdicionarSessao.css" />
}

<nav id="caminhodepao" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
        <li class="breadcrumb-item"><a href="/Admin/ListaSessoes">Lista Sessões</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Sessão</li>
    </ol>
</nav>

<h1>Editar Sessão</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Admin/EditarSessao/" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Filme</label>
                <select asp-for="Sessao.FilmeId" class="form-control" id="inputGroupSelect01">
                    <option selected>Selecione um Filme</option>
                    @foreach (var item in Model.FilmesDisponiveis)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="Sessao.FilmeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Horário</label>
                <input asp-for="Sessao.Horario" class="form-control" />
                <span asp-validation-for="Sessao.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Dias da Semana</label>
                <input asp-for="Sessao.DiasSemana" type="hidden" id="diassemena" />
                <div class="d-flex flex-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">DOM</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SEG</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">TER</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">QUA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">QUI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SEX</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SAB</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Sala</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" class="form-check-input" type="radio" value="1">
                    <label class="form-check-label">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" class="form-check-input" type="radio" value="2">
                    <label class="form-check-label">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" class="form-check-input" type="radio" value="3">
                    <label class="form-check-label">3</label>
                </div>
            </div v>
            <div class="form-group">
                <label>Áudio</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Audio" class="form-check-input" type="radio" value="Dublado">
                    <label class="form-check-label">Dublado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Audio" class="form-check-input" type="radio" value="Legendado">
                    <label class="form-check-label">Legendado</label>
                </div>
            </div>
            <div class="form-group">
                <label>Vídeo</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Video" class="form-check-input" type="radio" value="2D">
                    <label class="form-check-label">2D</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Video" class="form-check-input" type="radio" value="3D">
                    <label class="form-check-label">3D</label>
                </div>
            </div>

            <div class="form-group">
                <button id="EnviarBtn" class="btn btn-primary">Criar Sessão</button>
            </div>
            <input asp-for="Sessao.Id" type="hidden" />
        </form>
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    const EnviarBtn = document.getElementById('EnviarBtn');
    // selecionar todas as checkboxes
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    window.onload = () => {
        const modelValue = "@Model.Sessao.DiasSemana";

        // convert ModelValue to array by splitting every char
        const modelValueArray = modelValue.split('');


        // set checkboxes checked property based on model value
        for (let i = 0; i < 7; i++) {
            if (modelValueArray[i] == '1')
                checkboxes[i].checked = true;

        }
    }

    EnviarBtn.addEventListener('click', function (event) {
        event.preventDefault();
        // criar um array com os valores dos checkboxes
        const checkboxesValues = Array.from(checkboxes).map(checkbox => checkbox.checked);

        let DiasSemana = "";
        checkboxesValues.map((value, index) => {
            if (value) {
                DiasSemana += "1"
            }
            else {
                DiasSemana += "0"
            }
        });

        document.getElementById('diassemena').value = DiasSemana;
        document.querySelector('form').submit();
    });

</script>
}
