@model Projeto_IHC.Models.AdicionarSessaoModel

@{
    ViewData["Title"] = "Editar Sessão";
}

@section Styles {
<link rel="stylesheet" href="~/css/AdicionarSessao.css" />
}

<nav id="caminhodepao" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
        <li class="breadcrumb-item"><a href="/Admin/ListaSessoes">Lista Sessões</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Sessão</li>
    </ol>
</nav>

<h1 class="text-center">Editar Sessão</h1>

<hr />

<div class="d-flex">
    <div class="flex-grow-1 px-5">
        <form action="/Admin/EditarSessao/" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label class="control-label">Filme</label>
                <select asp-for="Sessao.FilmeId" class="form-control" id="inputGroupSelect01" required>
                    <option value="">Selecione um Filme</option>
                    @foreach (var item in Model.FilmesDisponiveis)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="Sessao.FilmeId" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label>Horário</label>
                <input asp-for="Sessao.Horario" class="form-control" type="time" required value="" id="hor" />
                <span asp-validation-for="Sessao.Horario" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label>Dias da Semana</label>
                <input asp-for="Sessao.DiasSemana" type="hidden" id="diassemena" />
                <div class="d-flex flex-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">DOM</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SEG</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">TER</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">QUA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">QUI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SEX</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1">
                        <label class="form-check-label">SAB</label>
                    </div>
                </div>
            </div>
            <div class="form-group m-3">
                <label>Sala</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" id="sala" class="form-check-input" type="radio" value="1" required />
                    <label class="form-check-label">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" id="sala" class="form-check-input" type="radio" value="2" />
                    <label class="form-check-label">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Sala" id="sala" class="form-check-input" type="radio" value="3" />
                    <label class="form-check-label">3</label>
                </div>
            </div>
            <div class="form-group m-3">
                <label>Áudio</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Audio" id="audio" class="form-check-input" type="radio" value="Dublado"
                        id="audio">
                    <label class="form-check-label">Dublado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Audio" id="audio" class="form-check-input" type="radio" value="Legendado">
                    <label class="form-check-label">Legendado</label>
                </div>

            </div>
            <div class="form-group m-3">
                <label>Vídeo</label>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Video" id="video" class="form-check-input" type="radio" value="2D">
                    <label class="form-check-label">2D</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Sessao.Video" id="video" class="form-check-input" type="radio" value="3D">
                    <label class="form-check-label">3D</label>
                </div>

            </div>

            <div class="form-group m-3">
                <button id="EnviarBtn" class="btn btn-primary">Salvar Alterações</button>
            </div>
            <input asp-for="Sessao.Id" type="hidden" />
        </form>
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script src="~/js/AdicionarSessao.js"></script>
}
