@{
    ViewData["Title"] = "Cineplex";
}

@model HomeModel

@section Styles {
<link rel="stylesheet" href="~/css/style/main-section.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/style/film-row.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/style/session-table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}

<section id="home" class="destaque ">
    <div class="main-card" style="background-image: url('@Model.FilmeDestaque.URLCapa')">
        <div>
            <p class="h1 text-white">@Model.FilmeDestaque.Nome</p>
            <a class="btn btn-dark" href="/Filme/Index/@Model.FilmeDestaque.Id">Saiba Mais</a>
        </div>
    </div>
</section>

<section class="faixa mt-3">
    <div class="row">
        <h2>Programação</h2>
        <p>
            Veja a nossa programação para aproveitar o máximo que podemos
            oferecer.
        </p>
        <a class="faixa-link text-white" href="/Home/Programacao">
            Veja a Programação <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>
</section>

<section id="embreve" class="flex-column mt-3">
    <p class="h2 text-white text-center">Em Breve</p>
    <div class="row m-0 flex-nowrap overflow-auto justify-content-center">
        @{
            foreach (var item in Model.FilmesEmBreve)
            {
                <div class="f-card" style="background-image: url(@item.URLPoster)">
                    <div>
                        <p>@item.Nome</p>
                        <a class="btn btn-dark" href="/Filme/Index/@item.Id">Saiba Mais</a>
                    </div>
                </div>
            }
        }
    </div>
</section>