@{
    ViewData["Title"] = "Sobre Nós";
}

@section Styles {
<link rel="stylesheet" href="~/css/Info.css" />
}

<section>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.pinimg.com/originals/3d/f5/43/3df543196229f60826d5305bc15f0d31.jpg" class="d-block m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/sala_de_cinemaagencia_brasilia31122000938.jpg?" class="d-block m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/48/55/a2/4855a297b59c51bf422e6732aba4624d.jpg" class="d-block m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/ad/2e/6c/ad2e6c861c69d3b8c14928cd64a5ec58.jpg" class="d-block m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/d8/96/f1/d896f18ec1f56eeef3914af45e5f17e4.jpg" class="d-block m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/ad/2e/6c/ad2e6c861c69d3b8c14928cd64a5ec58.jpg" class="d-block m-auto" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h2>Sobre a Cineplex</h2>
            <p>
                A Cineplex é a maior operadora de cinemas da América Latina e segunda maior do mundo em ingressos vendidos, com um total de 738 cinemas, 5.941 salas 100% digitais, em quinze países.
                Desde sua chegada ao Brasil em 2010, é a rede com maior crescimento no mercado.
            </p>
            <p>
                Em 2019 e 2017, foi eleita a "Melhor Sala Premium" de São Paulo pelo Guia Divirta-se. Em 2018, pela terceira vez, o Cineplex JK Iguatemi foi eleito pelo Guia da Folha como o melhor cinema da cidade de São Paulo (2015, 2017 e 2018) e sua sala IMAX foi apontada como a melhor sala individual do circuito. Em 2016 e 2017, a rede Cineplex ficou em 1º lugar no "Prêmio Estadão Melhores Serviços", na categoria redes de cinema.
            </p>
            <p>
                A constante inovação e o bom desempenho são reconhecidos com diversos prêmios, dentre eles: Melhor Exibidor por quatro anos consecutivos (2011, 2012, 2013 e 2014), concedido no Prêmio ED (Exibição & Distribuição), realizado pelo Sindicato das Empresas Exibidoras do Estado de São Paulo.
            </p>
        </div>
    </section>