<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style/config.css" />
    <link rel="icon" href="~/img/capital.svg" type="image/x-icon">
    <style>
        * {
            color: #fff !important;
        }

        .dropdown-item {
            background-color: var(--color-primary) !important;
            transition: all 0.3s ease-in-out;
        }

        .dropdown-item:hover {
            background-color: hsl(210, 33%, 20%) !important;
        }

        .dropdown-divider {
            border-top: 1px solid rgba(158, 162, 166, 0.418);
        }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand d-flex" asp-area="" asp-controller="Admin" asp-action="Index"><img
                        style="width: 3em;" src="~/img/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin"
                                asp-action="PaginaInicial">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin"
                                asp-action="ListaSessoes">Sessões</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin"
                                asp-action="ListaFilmes">Filmes</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-row">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown  nav-btn">
                                <a class="nav-link dropdown-toggle nav-btn" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>@ViewData["admin"].ToString()</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/usuario/redefinirsenha">Redefinir Senha</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/usuario/sair/">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main style="padding-left: 10%;padding-right: 10%;">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            Cinelplex © 2022 - Todos os direitos reservados.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/0edd786e2e.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>