<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_IHC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand txt" href="#">CINEPLEX</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#emcartaz">Em Cartaz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#embreve">Em Breve</a>
                        </li>
                    </ul>

                    <div class="nav-item text-white d-flex align-items-center justify-content-start">
                        <a class="btn btn-outline-light" href="Usuarios/Cadastrar">Cadastre-se</a>
                        <a class="ps-2" href="/Usuarios/Login">Fazer Login</a>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-dark">
        @RenderBody()
    </div>
    <footer class="footer mt-3">
        <div class="d-flex flex-start flex-column">
                <p>Endereço: Rua Flávio Augusto, 189 - Jardim Saint Laurrent - Taquaritinga </p>
                <a href="" class="nav-link f-link"><i class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="" class="nav-link f-link"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="" class="nav-link f-link"><i class="fa-solid fa-mobile"></i> Celular: (16) 99999-9999</a>
                <a href="" class="nav-link f-link"><i class="fa-solid fa-phone"></i> Telefone: (16) 3333-3333</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0edd786e2e.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
