<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/logo-black.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/style/config.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/style/nav.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/style/footer.css"  asp-append-version="true"/>
    @RenderSection("Styles", false)
</head>
<body class="bg-dark position-relative"
    data-bs-spy="scroll"
    data-bs-target="navbar"
    data-bs-offset="0"
    tabindex="0">
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand txt" href="/Home/">
                <img src="~/img/logo.svg" alt="logo" class="logo" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav-btn mx-2">
                        <a class="nav-link active" aria-current="page" href="/home/programacao">Programação</a>
                    </li>
                    <li class="nav-item nav-btn mx-2">
                        <a class="nav-link active"
                           aria-current="page"
                           href="/home/#emcartaz">Em breve</a>
                    </li>
                    <li class="nav-item nav-btn mx-2">
                        <a class="nav-link active"
                           aria-current="page"
                           href="/home/info">Sobre Nós</a>
                    </li>
                </ul>

                
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer class="footer mt-3">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/logo.svg" class="logo-footer" />
                <p>
                    Com a missão de proporcionar aos clientes a melhor experiência de
                    entretenimento e acesso aos melhores filmes, CINEPLEX é uma empresa
                    que se preocupa com a qualidade de seus serviços. <br />
                    Com três salas de cinema climatizadas, sistema de audio e de video
                    de ótima qualidade, CINEPLEX oferece aos seus clientes a melhor
                    experiência de entretenimento.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Contato</h3>
                <p>
                    Endereço: Rua Flávio Augusto, 189- Jardim Saint Laurent,
                    Taquaritinga
                </p>
                <p><i class="fa-solid fa-phone"></i> (16) 3333-3333</p>
                <div class="d-flex justify-content-start">
                    <a href="" class="nav-link f-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="nav-link f-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link f-link">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <small class="text-white text-center">
                Copyright 2022 Cineplex Ldta. Todos os direitos reservados.
            </small>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0edd786e2e.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
